<h2 class="text-center">ARABA KİRALAMA DETAY LİSTESİ</h2>
<table *ngIf="dataLoaded == true" class="table">
  <thead>
    <tr>
      

      <th>Marka</th>
      <th>Müşteri İsmi-Soyismi</th>
      <th>Şirket Adı</th>
      <th>Aracı Alış Tarihi</th>
      <th>Aracı Teslim Tarihi</th>
    </tr>
  </thead>
  <tr *ngFor="let rentaldetail of rentaldetails">
    <td>{{rentaldetail.brandName}}</td>
    <td>{{rentaldetail.firstName + " "+ rentaldetail.lastName}}</td>
    <td>{{rentaldetail.companyName}}</td>
    <td>{{rentaldetail.rentDate}}</td>
    <td>{{rentaldetail.returnDate}}</td>
  </tr>
</table>

