<h2 class="text-center">Kiralama Detay Listesi</h2>
<table *ngIf="dataLoaded == true" class="table">
  <thead>
    <tr>
      
      <th>Id</th>
      <th>Marka</th>
      <th>Müşteri İsmi</th>
      <th>Şirket Adı</th>
      <th>Aracı Alış Tarihi</th>
      <th>Aracı Teslim Tarihi</th>
    </tr>
  </thead>
  <tr *ngFor="let rentaldetail of rentaldetails">
    <td>{{rentaldetail.rentalId}}</td>
    <td>{{rentaldetail.brandName}}</td>
    <td>{{rentaldetail.userName}}</td>
    <td>{{rentaldetail.customerName}}</td>
    <td>{{rentaldetail.rentDate}}</td>
    <td>{{rentaldetail.returnDate}}</td>
  </tr>
</table>

