   <!-- <div *ngIf="dataLoaded == false" class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  
  <h2 class="text-center">ARABA BİLGİLERİ</h2> 
<table *ngIf="dataLoaded == true" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Renk</th>
      <th>Marka</th>
      <th>Model Year</th>
      <th>Ücret</th>
      <th>Açıklama</th>
    </tr>
  </thead>
  <tr *ngFor="let cardetail of cardetails">
    <td>{{cardetail.carId}}</td>
    <td>{{ cardetail.colorName  }}</td>
    <td>{{ cardetail.brandName }}</td>
    <td>{{cardetail.modelYear}}</td>
    <td>{{ cardetail.dailyPrice }}</td>
    <td>{{ cardetail.description}}</td>
</table>   -->
<div class="card mb-3">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{car.brandName}}</h5>
    <p class="card-text">{{car.colorName}}</p>
    <p class="card-text">{{car.modelYear}}</p>
    <p class="card-text">{{car.dailyPrice}}</p>
    <p class="card-text">{{car.description}}</p>
  </div>
</div>


 

  

