<br>
<h4><li class="list-group-item " style="color:black;background-color:salmon;">MARKALAR</li></h4>
<div >
      <input type="text" class="form-control" id="filterBrandText" placeholder="marka ismi giriniz">
    </div>
<ul  class="list-group">
  <li  class="list-group-item" routerLink="/cars">Tüm Ürünler</li>
  <li  (click)="setCurrentBrand(brand)" 
  routerLink="/cars/brand/{{brand.brandId}}" 
  *ngFor="let brand of brands | brandFilter : filterBrandText" 
  [class]="getCurrentBrandClass(brand)">{{brand.brandName}}</li>
</ul>
<h6 *ngIf="currentBrand">{{currentBrand.brandName}} seçtiniz</h6> 

















<!-- <h4 class="text-center">Brands</h4>
<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden" Loading...></span>
</div>
<table *ngIf="dataLoaded==true" class="table">
  <tbody>
    <tr *ngFor="let brand of brands">
      <td>{{brand.brandName}}</td>
    </tr>
  </tbody>
</table> -->

