<h4 class="text-center">Customer List</h4>
<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>CustomerId</th>
            <th>Kullanıcı</th>
            <th>Şirket Adı</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{customer.customerId}}</td>
            <td>{{customer.userId}}</td>
            <td>{{customer.companyName}}</td>
        </tr>
    </tbody>
</table>
